---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [

  {
    date: "NOW",
    title: "Comming soon...",
    company: "",
    description:
      "Aun no fui parte de un trabajo formal, pero si participe en varios proyectos personales como grupales, estoy ansioso de poder desarrollarme en algun proyecto mas complejo que me desafie y me rete a aprender nuevas habilidades",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
