---
const personalImageAlt = "Miguel Ángel";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
import Redes from "./Redes.astro";
---
<div>
<div class="max-w-xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="flex gap-4 mb-4"></div>
  <div class="items-end text-center gap-4">
    <!-- <img src="./perfil.jpg" class="max-w-[40%] mx-auto mb-10  aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ">-->
    <h1
      class="text-3xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
      👋 Hola, soy Elmer
    </h1>
    <p class="text-xd">(mermitas)</p>
  </div><p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300 text-center mb-10"
  >
    Gracias por visitar mi portafolio, me presento, soy Elmer, <strong
      >Estudiante de Ingenieria en Sistemas e Informatica</strong
    > de Perú PE. Mi fortaleza en el desarrollo es la ciencia de datos e inteligencia artificial.
  </p>

  <Redes />
</div>
</div>