---
import Icons from "./Icons.astro";
---

<div class="grid grid-cols-4 w-1/2 mx-auto justify-start mt-4 pl-3 pr-3 bg-gray-300 border border-gray-300 rounded-full ">
    <Icons
      url="https://github.com/Mermas-CC"
      img="https://cdn-icons-png.flaticon.com/512/2111/2111425.png"
      alt="Github"
    />
    <Icons
      url="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile"
      img="../../public/linkedin.png"
      alt="Linkedin"
    />
    <Icons
      url="https://www.instagram.com/elmer_ancc/"
      img="../../public/instagram.png"
      alt="Instagram"
    />
    <Icons
      url="https://www.facebook.com/elmer.casapia/"
      img="../../public/facebook.png"
      alt="Facebook"
    />
  </div>